@tailwind base;

@tailwind components;
@tailwind utilities;



:root {
    --heading-color: #333;
    --heading-font-size: 2rem;
  }

* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
  }

h1{
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    font-weight: bold;
}

h2{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-weight: bold;
}

h3, h4, h5, h6 {
    color: var(--heading-color);
    font-size: var(--heading-font-size);
  }

p{
    font-size: medium;
}
